body{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
  position:relative;
  

}
.col1{
  position: relative;
}
ul.a {
  list-style-type:square;
   color: rgb(12,29, 37);
  
}
.cover{
  background-color: rgba(255,253,208);
  padding-block: 80px;
  padding-inline: 10px;
  background-repeat: no-repeat;
background-size: cover;
background-position:  center center ;
}
h1,h2{
  color: rgb(218,165,32);
  font-family: 'Times New Roman', Times, serif;
}
h3{
  color:rgb(218, 165, 32);
  font-family:'Times New Roman', Times, serif;
}
.testostoria{color:rgb(12, 29, 37);
  font-family:'Times New Roman', Times, serif;

}
strong{
  color: rgb(218,165,32);
}

a{
   color: rgb(218,165,32);
}

.heder {
  background-color: rgb(12, 29, 37);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.heder ul{
 margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: rgb(12,29,37);

}

.heder ul a{
  display: block;
  padding: 20px;
text-decoration: none;
}

.heder competenze ul {
  background-color: aqua;

}

.heder ul a:hover{
  background-color: rgba(26, 87, 116, 0.692);
  
}

.heder .logo{
  float: left;
  font-size: 25px;
  padding: 10px 20px;
}

.heder .menu  {
  clear: both;
  max-height: 0;
  transition: max-height 1.2s ease-out ;
}

.heder .menu-icon{
  border:1px solid rgb(218, 165, 32) ;
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;

}
.heder .menu-icon .nav-icon{
  background-color: rgb(218, 165, 32);
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background-color .2s ease-out;

}

.heder .menu-icon .nav-icon::before,
.heder .menu-icon .nav-icon::after
{
background-color: rgb(218, 165, 32);
content: "";
display: block;
height: 100%;
width: 100%;
transition: all .2s ease-out;
position:absolute;
}
.heder .menu-icon .nav-icon::before {
  top: 5px;
}
.heder .menu-icon .nav-icon::after {
  top: -5px;
}
.heder .menu-btn {
 display: none
}
.heder .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.heder .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}
.heder .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top:0
}
.heder .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top:0
}

@media(min-width :48em) {
  .heder li{
    float: left;
  }
  .heder li a{
    padding:20px 30px;
  }
  .heder .menu{
    clear: none;
    float: right;
    max-height: 0;
  }
  